**/.vs
**/.vscode

**/.git
**/.gitignore

**/node_modules
**/npm-debug.log

**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*

**/__pycache__
**/.venv
**/.classpath
**/.env

LICENSE
README.md
